body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

nav {
	position: fixed;
	width: 100%;
	z-index: 5;
}

nav ul {
	list-style-type:  none;
	display: flex;
	justify-content: space-around;
}

nav ul li {
	font-family: Montserrat;
	font-size: 1.5em;
	cursor: pointer;
}

.sectionDiv {
	width: 100%;
	height: 100vh;
/*	line-height: 100vh;
	text-align: center;*/
	background: #DBF3EB;
	display: flex;
	justify-content: safe center;
	align-items: center;
	flex-wrap: wrap;
}

@keyframes titleRise {
  0% {transform: translateY(100vh);}
  40% {transform: translateY(100vh);}
  85% {transform: translateY(-60px);}
  100% {transform: translateY(0px);}
}

@keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  30% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  70% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  90% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  30% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  70% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  90% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes titleTilt {
  from {
    transform-origin: top left;
    transform: rotate(0);}
  to {
    transform-origin: top left;
    transform: rotate(8deg);
  }
}

.sectionDiv h1 {
	font-family: Montserrat;
	color: #211A1E;
	font-size: 4em;
	margin-top:  -30vh;
	text-align: center;
	animation: titleRise 3s ease-in-out 0s 1 none, vibrate 0.4s linear 3.3s 3 none, titleTilt 0.5s ease 5s forwards;
	line-height: 0.8em;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.arrow-container {
	position: absolute;
	display: flex;
	justify-content: center;
	top: 55vh;
	width: 120px;
	height: 120px;
	margin: 0 auto;
	cursor: pointer;
}

@keyframes bobbing {
  0% {transform: translateY(0);}
  50% {transform: translateY(-10px);}
  100% {transform: translateY(0);}
}

.arrow-container img {
	width: 6vw;
 	margin: 0 auto;
	position: inherit;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.arrow-container img:nth-child(1) {
	top: 0;
	animation: bobbing 0.7s ease-in-out 7.5s infinite none;
}

.arrow-container img:nth-child(2) {
	top: 30px;
}

.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom: 0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

.sectionDiv:nth-of-type(2) {
	background: #015871;
}